@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,900;6..12,1000&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    /* font-family: 'La Belle Aurore', cursive; */
    font-family: 'Nunito Sans', sans-serif;
}
img:not(.logo) {
    display: block;
    width: 100%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1 {
    padding-top: 35vh;
    color: #FFF;
    font-size: 3.5rem;
    font-family: 'La Belle Aurore', cursive;
    font-weight: 400;
    text-transform: capitalize;
}
h2 {
    font-size: 30px;
    color: #2a2a2a;
    font-weight: 1000;
    text-transform: capitalize;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
}
h3 {
    color: #FFF;
    font-size: 1rem;
    letter-spacing: 3.5px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
h4 {
    color: #FFF;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 1000;
}
h5 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 1000;
    letter-spacing: 2px;
}
h6 {
    color: #FB5849;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.2px;
}
p {
    color: #2a2a2a;
    font-size: 0.9rem;
    line-height: 25px;
    margin-bottom: 25px;
}

/*========== || GLOBAL STYLE || ========== */
.section-padding {
    padding: 5rem 0;
}
.section-bg {
    background-color: #f8f8f8;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.section-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.bar {
    position: relative;
    padding-left: 55px;
}
.bar::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #FB5849;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.btn {
    color: #FB5849;
    font-size: .7rem;
    background: #FFF;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 800;
    padding: .8rem 1.2rem;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.social-icon{
    color: #2a2a2a;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-white {
    color: #FFF;
}
.dark-text {
    color: #2a2a2a;
}
.section-center > div {
    flex: 6;
}
@media screen and (max-width:768px) {
    .section-center {
        flex-direction: column;
    }
}
/*========== || HEADER || ========== */
/* || Navbar || */
#nav {
    background-color: #FFF;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;;
    padding: 2rem 5rem;
}
.nav-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 170px;
}
.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    display: none;
}
.links li{
    display: inline;
}
.scroll-links {
    color: rgb(44, 51, 51);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    margin-left: 2rem;
}
.scroll-links:hover {
    color: rgba(44, 51, 51, 0.9);
}

/* || Fixed Navbar || */
.fixed-nav {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    z-index: 9999;
}
@media screen and (max-width:992px) {
    #nav {
        padding: 2rem 3.5rem;
    }
    .logo {
        width: 120px;
    }
    .scroll-links {
        margin-left: 1.3rem;
    }
}
@media screen and (max-width:768px) {
    #nav {
        padding: 0;
    }
    .nav-header-container {
        display: block;
    }
    .nav-header {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-toggle {
        display: block;
    }
    .links-container {
        height: 0;
        overflow: hidden;
        transition: all 400ms ease;
    }
    .links li {
        display: block;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .links li:hover {
        background-color: rgb(245, 244, 244);
    }
    .links li:hover a{
        margin-left: 0.5rem;
    }
    .scroll-links {
        margin-left: 0;
    }
}
/*========== || HERO || ========== */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.hero-text {
    flex: 4;
    padding-left: 5rem;
    height: 100%;
    background-color: #FB5849;
}

.hero-showcase {
    flex: 8;
    height: inherit;
}
.hero-showcase .img {
    height: 100%;
}
@media screen and (max-width:768px) {
    .wrapper {
        flex-direction: column;
        height: auto;
    }
    .hero-text {
        width: 100%;
        text-align: center;
        padding: 5rem 0;
    }
    h1 {
        padding-top: 0;
    }
}
/*========== || ABOUT || ========== */


@media screen and (max-width:768px) {
    
    .about-text-img {
        flex-direction: row;
    }
}
/*========== || MENU || ========== */

.menu-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}
.menu-item {
    min-width: 24%;
    position: relative;
    background-color: rgb(0, 255, 26);
    overflow: hidden;
}

.price {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FB5849;
    padding: 1.3rem;
}
.item-info {
    position: absolute;
    background-color: #FB5849;
    z-index: 9;
    bottom: -230px;
    padding: 1rem;
}

.item-info p {
    color: #FFF;
}
.item-link {
    color: #FFF;
}
.menu-item:hover .item-info {
    bottom: 0;
}
/*========== || CHEFS || ========== */
#chefs {
    text-align: center;
}
.chef {
    padding: 0.5rem;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
}
.chef-img {
    position: relative;
}
.social-links{
    position: absolute;
    height: 100%;
    width: 100%;
    color: #FFF;
    background: hsla(0, 0%, 0%, 0.8);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: all 300ms ease;
}
.social-links i {
    width: 40px;
    height: 40px;
    color: #272424;
    display: flex;
    align-items: center;
    justify-content: center;    
    background: #FFF;
    border-radius: 100%;
}
.chef:hover {
    border-color: #FB5849;
}
.chef:hover .social-links {
    opacity: 1;
}
.chef:hover h4 {
    color: #FB5849;
}
.chef h4 {
    margin-top: 1.5rem;
    color: #2a2a2a;
}
.chef p {
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}
/*========== || CONTACT || ========== */
#contact {
    background: url(../images/reservation-bg.jpg);
}
.contact-cards {
    padding-top: 2rem;
}
.contact-card {
    background-color: #FFF;
    padding: 2rem 1rem 1.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.contact-card i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #FB5849;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #FFF;
}
.contact-card span {
    display: block;
    margin: 0.5rem 0;
}
span a {
    color: #272424;
}
.contact-card h4 {
    color: #2a2a2a;
}

/* form */

.form {
    background-color: #FFF;
    padding: 2rem;
    border-radius: 5px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.col-6 {
    flex: 6;
}
input,select,textarea {
    width: 100%;
    height: 46px;
    color: #2a2a2a;
    font-size: 0.9rem;
    text-transform: capitalize;
    outline: none;
    border: 1px solid #DDD;
    background-color: #FFF;
    border-radius: 5px;
    padding: 3px 20px;
    margin-bottom: 15px;
}
textarea {
    height: 100%;
}
.form-btn {
    display: inline-block;
    width: 100%;
    color: #FFF;
    background-color: #FB5849;
    border: none ;
}
/*========== || MEAL || ========== */
.btn-container {
    margin-bottom: 3rem;
}
.meal-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
/*  */
.meal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(245, 244, 244);
    padding: 1rem;
}
.meal img {
    width: 100px;
}
.meal p {
    margin-bottom: 0;
}
.meal-price {
    display: inline-block;
    background-color: #FB5849;
    padding: 1.5rem .8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .meal-container {
        grid-template-columns: 1fr;
    }
}